<!doctype html>
<html lang="en-US">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Server Status | Powered by Infinite Script</title>
  <link rel="stylesheet" href="%static-url%/css/bootstrap.min.css">
  <link rel="stylesheet" href="%static-url%/css/google-fonts.min.css">
  <link rel="stylesheet" href="%static-url%/css/font-awesome.min.css">
  <link rel="stylesheet" href="%static-url%/css/flag.min.css">
  <link rel="stylesheet" href="%static-url%/css/style.css">
  <script src="%static-url%/js/vue.min.js"></script>
  <script src="%static-url%/js/axios.min.js"></script>
  <script src="%static-url%/js/app.js"></script>
</head>
<body>
  <header>
    <div class="container">
      <h1>
        <a href="/">Server Status</a>
      </h1>
      <img src="%static-url%/images/logo.png" alt="Logo">
      <a id="dark-mode-switch" href="javascript:void(0)"><i class="fa fa-moon"></i></a>
    </div> <!-- .container -->
  </header>
  <script>
    setDarkMode(getCurrentTheme())
  </script>
  <main>
    <div class="container">
      <h2>Dashboard</h2>
      <div id="servers" class="row">
        <p v-if="servers.length == 0">No servers available.</p>
        <div v-for="(server, name) in servers" class="col-lg-4 col-md-6">
          <div class="server">
            <div class="row">
              <div class="col-6">
                <span v-if="'time' in server">
                  <i class="fas fa-check-circle"></i> Online
                </span>
                <span v-else>
                  <i class="fas fa-exclamation-circle"></i> Offline
                </span>
              </div> <!-- .col-6 -->
              <div class="col-6 text-end">
                <span class="update-time" v-bind:value="server['time']"></span>
              </div> <!-- .col-6 -->
            </div> <!-- .row -->
            <div class="title row">
              <div class="col-xl-6">
                <i v-bind:class="server['region'].toLowerCase() + ' flag'"></i>
                <strong>{{ name }}</strong>
              </div> <!-- .col-xl-6 -->
              <div class="col-xl-6 text-xl-end">
                {{ server['netdev']['txs'] }} &uarr; {{ server['netdev']['rxs'] }} &darr;
              </div> <!-- .col-xl-6 -->
            </div> <!-- .row -->
            <div class="hardware row">
              <div v-if="'cpuinfo' in server" class="col-xl-4 col-sm-6">
                <i class="fas fa-microchip"></i> {{ server['cpuinfo']['num'] }} Core{{ server['cpuinfo']['num'] > 1 ? 's' : '' }}
              </div> <!-- .col-4 -->
              <div v-if="'meminfo' in server" class="col-xl-4 col-sm-6">
                <i class="fas fa-memory"></i> {{ server['meminfo']['memTotal'] }}
              </div> <!-- .col-4 -->
              <div v-if="'diskinfo' in server" class="col-xl-4 col-sm-6">
                <i class="fas fa-hdd"></i> {{ server['diskinfo']['diskTotal'] }}
              </div> <!-- .col-4 -->
            </div> <!-- .row -->
            <div class="os row">
              <div class="col-lg-3">OS</div> <!-- .col-lg-3 -->
              <div class="col-lg-9">{{ server['distname'] }}</div> <!-- .col-lg-9 -->
            </div> <!-- .row -->
            <div class="uptime row">
              <div class="col-lg-3">Uptime</div> <!-- .col-lg-3 -->
              <div class="col-lg-9">
                {{ 'uptime' in server ? server['uptime'] : 'Unknown' }}
              </div> <!-- .col-lg-9 -->
            </div> <!-- .row -->
            <div class="load row">
              <div class="col-lg-3">Load</div> <!-- .col-lg-3 -->
              <div class="col-lg-9">
                <div class="progress">
                  <div v-bind:class="server['bgclass']['load']" 
                       v-bind:style="{ width: parseFloat(server['loadavg'][0]) + '%' }">
                  </div> <!-- .progress-bar -->
                </div> <!-- .progress -->
              </div> <!-- .col-lg-9 -->
            </div> <!-- .row -->
            <div class="ram row">
              <div class="col-lg-3">RAM</div> <!-- .col-lg-3 -->
              <div class="col-lg-9">
                <div class="progress">
                  <div v-bind:class="server['bgclass']['memUsed']" 
                       v-bind:style="{ width: server['meminfo']['memUsedPercent'] + '%' }">
                  </div> <!-- .progress-bar -->
                </div> <!-- .progress -->
              </div> <!-- .col-lg-9 -->
            </div> <!-- .row -->
            <div class="ram row">
              <div class="col-lg-3">Swap</div> <!-- .col-lg-3 -->
              <div class="col-lg-9">
                <div class="progress">
                  <div v-bind:class="server['bgclass']['swapUsed']" 
                       v-bind:style="{ width: server['meminfo']['swapPercent'] + '%' }">
                  </div> <!-- .progress-bar -->
                </div> <!-- .progress -->
              </div> <!-- .col-lg-9 -->
            </div> <!-- .row -->
            <div class="ram row">
              <div class="col-lg-3">Disk</div> <!-- .col-lg-3 -->
              <div class="col-lg-9">
                <div class="progress">
                  <div v-bind:class="server['bgclass']['diskUsed']" 
                       v-bind:style="{ width: server['diskinfo']['diskPercent'] + '%' }">
                  </div> <!-- .progress-bar -->
                </div> <!-- .progress -->
              </div> <!-- .col-lg-9 -->
            </div> <!-- .row -->
          </div> <!-- .server -->
        </div> <!-- .server -->
      </div> <!-- #servers -->
    </div> <!-- .container -->
  </main>
  <footer>
    <div class="container">
      <p>Copyright &copy; <span id="year">2024</span> <a href="//www.infinitescript.com">Infinite Script</a>. All rights reserved.</p>
      <p>
        <a href="https://gitlab.com/hzxie/infinite-server"><i class="fa fa-code"></i></a> with 
        <a href="https://www.infinitescript.com"><i class="fa fa-heart"></i></a>
      </p>
    </div> <!-- .container -->
  </footer>
  <script>
    document.getElementById("year").innerHTML = (new Date()).getFullYear()
    document.getElementById("dark-mode-switch").addEventListener("click", function() {
        let currenetTheme = getCurrentTheme()
        setDarkMode(currenetTheme == "light" ? "dark" : "light")
    })
  </script>
  <script>
    setInterval(() => {
      let updTimeFields = document.getElementsByClassName("update-time")
      for (let i = 0; i < updTimeFields.length; ++ i) {
        if (updTimeFields[i].attributes["value"]) {
          updTimeFields[i].innerHTML = getTimeElapsedSince(parseInt(updTimeFields[i].attributes["value"].value)) + " ago"
        }
      }
    }, 1000);
  </script>
  <script>
    const { createApp, toRaw } = Vue
    createApp({
      data() {
        return {
          servers: {}
        }
      },
      mounted: function() {
        axios.get("./servers", {
          crossdomain: true,
        }).then((response) => {
          this.servers = response.data
          Object.entries(this.servers).forEach(entry => {
            let [name, server] = entry
            server = toRaw(server)
            if (!("time" in server)) {
              server["loadavg"] = [0]
              server["meminfo"] = {"memUsedPercent": 0, "swapPercent": 0}
              server["diskinfo"] = {"diskPercent": 0}
              server["netdev"] = {"tx": 0, "rx": 0, "txs": "0 K/s", "rxs": "0 K/s"}
              server["bgclass"] = {"load": "", "memUsed": "", "swapUsed": "", "diskUsed": ""}
            }
          })
        })

        if (%sse%) {
          const sse = new EventSource("./status")
          sse.addEventListener("message", (response) => {
            let status = JSON.parse(response.data)
            this.servers = getServerStatus(status, this.servers)
          })
        } else {
          setInterval(() => {
          axios.get("./status", {
            crossdomain: true,
          }).then((response) => {
            this.servers = getServerStatus(response.data, this.servers)
          })
          }, %interval% * 1000)
        }
      }
    }).mount('#servers')
  </script>
</body>
</html>
