:root {
	--theme-color: #e74c3c;
	--primary-bg-color: #fff;
	--secondary-bg-color: #f1f1f1;
	--footer-bg-color: #293545; 
	--primary-text-color: #2f3c4e;
	--secondary-text-color: #6d7683;
	--footer-text-color: #f1f1f1;
	--primary-border-color: #d3d5d7;
	--primary-shadow-color: #e2e3e4;
	--footer-link-hover-color: #fff;
	--bs-link-color: var(--theme-color);
	--bs-link-color-rgb: var(--theme-color);
	--bs-link-hover-color: var(--theme-color);
	--bs-link-hover-color-rgb: var(--theme-color);
}

body {
	--bs-body-bg: var(--secondary-bg-color);
	--bs-body-color: var(--secondary-text-color);
	--bs-body-font-family: "Lato", "Droid Arabic Kufi", Arial, sans-serif;
	overflow-x: hidden;
}

a {
	color: var(--bs-link-color-rgb);
	text-decoration: none!important;
	transition: all .17s ease-in-out;
}

header {
	background: var(--primary-bg-color) url(../images/header-top.png) repeat-x top center;
	border-bottom: 1px solid var(--td-border-level-2-color);
	height: 63px;
	overflow: hidden;
	padding: 0 20px;
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	z-index: 128;
}

header .container {
	position: relative;
}

header h1 {
	font-size: 30px;
	font-weight: 700;
	line-height: 63px;
	margin: 0;
}

header img {
	max-height: 100%;
	position: absolute;
	top: 0;
	left: 50%;
	transform: translate(-50%);
}

header #dark-mode-switch {
	font-size: 20px;
	position: absolute;
	top: 20px;
	right: 20px;
}

main {
	background-color: var(--td-bg-color-container);
	margin-top: 64px;
	min-height: calc(100vh - 188px);
	padding: 60px 0;
}

main h2 {
	color: var(--secondary-text-color);
	font-size: 28px;
}

.server {
	background-color: var(--primary-bg-color);
	border: 1px solid var(--primary-border-color);
	border-radius: 4px;
	margin-bottom: 20px;
	padding: 20px;
}

.server i {
	display: inline-block;
	width: 20px;
}

.server .fa-check-circle {
	color: #188050;
}

.server .fa-exclamation-circle {
	color: #9f2630;
}

.server .title {
	padding: 5px 0;
}

.server .hardware {
	border-bottom: 1px solid var(--primary-border-color);
	padding-bottom: 10px;
	margin-bottom: 10px;
}

.server .progress {
	margin: 5px 0;
}

footer {
	background-color: var(--footer-bg-color);
	color: var(--footer-text-color);
	font-size: 14px;
	padding: 40px 0 10px;
	position: relative;
	text-align: center;
}

footer:before {
	background: var(--secondary-bg-color);
	content: '';
	display: block;
	margin: 0 0 0 -7.5px;
	position: absolute;
	top: -8px;
	left: 50%;
	height: 15px;
	width: 15px;
	transform: rotate(45deg);
}

footer p:nth-child(2) a {
	color: var(--footer-text-color);
}

footer p:nth-child(2) a:hover {
	color: var(--bs-link-color-rgb);
}

html[data-theme=dark] {
	--primary-bg-color: #393939;
	--secondary-bg-color: #2d2d2d;
	--footer-bg-color: #1d1e21;
	--primary-text-color:#fff;
	--secondary-text-color: #acb3b9;
	--primary-border-color: #5e5e5e;
	--primary-shadow-color: rgba(0, 0, 0, .1);
	--bs-secondary-bg: #343a40;
}

@media (max-width: 767px) {
	header h1 {
		text-align: center;
	}

	header img {
		display: none;
	}
}
